[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/themes/emacs-color-theme-solarized"]
	path = .emacs.d/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/plugins/emacs-flymake"]
	path = .emacs.d/plugins/emacs-flymake
	url = https://github.com/illusori/emacs-flymake.git
[submodule ".emacs.d/plugins/emacs-nav"]
	path = .emacs.d/plugins/emacs-nav
	url = https://github.com/ancane/emacs-nav.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule ".emacs.d/plugins/php-mode"]
	path = .emacs.d/plugins/php-mode
	url = git@github.com:ejmr/php-mode.git
